@font-face {
  font-family: 'abyssopelagic';
  src: url('font/abyssopelagic/abyssopelagic-webfont.eot');
  src: url('font/abyssopelagic/abyssopelagic-webfont.eot?#iefix') format('embedded-opentype'),
  url('font/abyssopelagic/abyssopelagic-webfont.woff2') format('woff2'),
  url('font/abyssopelagic/abyssopelagic-webfont.woff') format('woff'),
  url('font/abyssopelagic/abyssopelagic.otf') format('otf'),
  url('font/abyssopelagic/abyssopelagic-webfont.ttf') format('truetype'),
  url('font/abyssopelagic/abyssopelagic-webfont.svg#abyssopelagicregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

