@font-face {
  font-family: 'abyssopelagic';
  src: url('./font/abyssopelagic-webfont.eot');
  src: url('./font/abyssopelagic-webfont.eot?#iefix') format('embedded-opentype'),
  url('./font/abyssopelagic-webfont.woff2') format('woff2'),
  url('./font/abyssopelagic-webfont.woff') format('woff'),
  url('./font/abyssopelagic.otf') format('otf'),
  url('./font/abyssopelagic-webfont.ttf') format('truetype'),
  url('./font/abyssopelagic-webfont.svg#abyssopelagicregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@media (min-width: 50em) {
  :root {
    font-size: 1.125em !important;
  }
}